body{
    font-family: "Special Elite', cursive;";
    background:lavender;
}
.header_div
{
    background:rgb(255, 255, 255);
    color:tomato;
}
.header_div img
{
    width:100px;
}
.main_div{
    background: mistyrose;
    padding: 10px;
    margin-top: 16px;
    border: 3px solid white;
}
.main_div label
{
    background: white;
    width:310px;
    padding:10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px white;
}
#camera,#results
{
    border:2px solid whitesmoke;
    width:310px;
    padding:10px;
    height:300px;
    box-shadow: 5px 5px 18px white;
}
.main_div button{
    width:310px;
    font-size:16px;
    box-shadow: 5px 5px 18px white;
    border:1px solid;
}
.footer_div img{
    width:70px;
}